*

!.gitignore
!Snakefile-scRNA-seq.py
!Snakefile-scRNA-seq-Stamatis.py
!snakemake.sh
!config-scRNA-seq.yaml
!all_scripts/
!all_scripts/*
!all_scripts/scripts/*
!all_scripts/ML/*
!all_scripts/plots/*
